@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Enigma';
    src: url('../js/Storage/Fonts/Enigma.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
